@import "~sass-flex-mixin/flex";
// we will import flex here so mixins will be available in every component

$npm-gui-gutter: 30px !default;

// COLORS
$npm-gui-color-light: #fff !default;

$npm-gui-color-dark: #3e3f3a !default;
$npm-gui-color-dark-deep: #393a35 !default;

$npm-gui-color-danger: #d9534f !default;

$npm-gui-color-primary: #325d88 !default;

$npm-gui-color-info: #1b8dbb !default;

$npm-gui-color-gray: #dfd7ca !default;
$npm-gui-color-gray-light: #f8f5f0 !default;
$npm-gui-color-gray-deep: #8e8c84 !default;

$npm-gui-color-success: #79a736 !default;

$npm-gui-color-warning: #ef5c0e !default;

// others
$npm-gui-radius: 2px;
